button {
			background-color: green;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}
		
.enclose {
				background-color: lightgrey;
		  width: 50%;
		  border: 15px solid green;
		  padding: 150px;
		  margin: auto;
			}
			
			body {
				
				font-family: Georgia;
				background-color: #2BB7FF;
				height: 400px; /* You must set a specified height */
				background-position: center; /* Center the image */
				background-repeat: no-repeat; /* Do not repeat the image */
				background-size: cover; /* Resize the background image to cover the entire container */
			}